* {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url("media/images/steam_games_bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#git_icon {
    position: fixed;
    top: 10px;
    right: 10px;
    transition: 0.1s;
    color: #E6EDF3;
}

#git_icon:hover {
    text-shadow: 0px 0px 30px #E6EDF3;
}

#content_box {
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}

#content_box a {
    color: white;
    transition: 0.1s;
}

#content_box a:hover {
    color: #66C0F4;
}

#picture {
    width: 300px;
    border: 15px solid;
    border-top-color: #66C0F4;
    border-right-color: #66C0F4;
    border-bottom-color: #2A475E;
    border-left-color: #2A475E;
    box-shadow: 10px 10px #171A21;
    z-index: 1;
}

#description {
    max-width: 700px;
    padding-bottom: 10px;
    background-color: #155d86;
    box-shadow: 10px 10px #171A21;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    transform: translateY(-10px);
}

#description h1 {
    margin: 0px;
    margin-top: 20px;
}

#description h3 {
    padding-left: 10px;
    text-decoration: underline;
}

#description p {
    margin: 5px;
    margin-left: 15px;
    font-size: 20px;
}

#title {
    text-align: center;
}